body {
    background: url(http://bsnscb.com/data/out/96/39215231-hexagon-wallpapers.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    
}
#header {
    
    text-align: center;
    font-size: 3vw;
    background: rgba(0,0,0,0.7);
    color:white;
    font-weight: bold;
    padding-bottom: 5px;
    
}
.controls {
    margin-bottom: 50px;
}
#head {
    text-align: center;
    font-size: 3vw;
    color:white;
    font-weight: bold;
    font-family: Orbitron;
}


#header #laps {
    font-size: 30px;
    color:white;
    text-align: right;
    
}
.controls .btn-primary {
    height:50px;
    width: 200px;
    border:2px solid white;
    background-color: rgba(0,0,0,0.5);
}
.controls .btn-primary:hover {
    background-color: transparent;
}

#lapdiv {
    color:white;
    font-size: 30px;
    max-height: 300px;
    overflow-y: scroll;
    
   
}
.lapindiv {
   
    
    padding: 20px; 
    border-bottom:1px solid white;
   
}
.lapindiv:hover {
    background-color: rgba(0,0,0,0.5);
}
.laptimetitle {
    
    font-size:50px;
    font-family: Orbitron;
    
}
.laptime {
    font-size: 30px;
    
}
@media (max-device-width:480px) {
    .controls .btn-primary {
        height: 10px;
        width: 110px; 
    }
    .jumbotron {
        font-size: 20px;
    }
    
}
